*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: #D5E1EF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  font-size: 1.067rem;
}
.container {
  width: 320px;
  background: white;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
}
.details {
  width: 288px;
  padding: 1rem 0;
}
#img-qr {
  width: 288px;
  border-radius: 10px;
}
.header {
  font-weight: 700px;
  font-size: 1.375rem;
}
.text {
  font-weight: 400px;
  color: grey;
  padding: 1rem;
}
